/* Here are the basic element */
h1 {
  color: rgb(6, 173, 165);
  font-family: "Times New Roman", Times, serif;
  font-weight: bolder;
  padding-left: 10px;
}
body {
  background-image: url("images/pattern.png");
}
p {
  width: 100%;
  margin-left: 15px;
}

img {
  float: left;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-top: 20px;
}
/* Here are the classes */
.navbar-light .navbar-brand {
  color: white;
  margin-left: 30px;
}
.navbar-brand {
  color: white;
  background-color: rgb(6, 173, 165);
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: bolder;
}
.navbar-nav {
  text-align: auto;
  color: black;
}
.img-responsive {
  width: 100%;
}
.container {
  background-color: white;
  padding: 50px;
  margin-top: 50px;
  margin-left: 50px;
  width: 60%;
  position: relative;
}
/* Here are the Id tags */
#page-container {
  position: relative;
  min-height: 100px;
}

#content-wrap {
  padding-bottom: 100px;
}
#footer {
  background-color: rgb(94, 93, 93);
  text-align: center;
  height: 55px;
  position: absolute;
  bottom: 1;
  width: 100%;
  border-top: rgb(6, 173, 165);
  border-top-style: solid;
}
#footer p {
  padding-top: 10px;
}
@media only screen and (max-width: 576px) {
  .container {
    width: 95%;
    margin: 50px auto;
  }
}
