/* Here are the elements */
html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0;
  background-color: white;
}

.navbar {
  position: fixed;
  background-color: rgba(142, 167, 168) !important;
  text-align: center;
  left: 0;
  width: 100%;
  z-index: 1;
}

.bottom-nav {
  position: absolute;
  bottom: 0;
}

.top-nav {
  position: fixed;
  top: 0;
}

figure {
  margin: 0;
  position: relative;
}

.parallax {
  background-image: url("./images/background1.jpg");
  height: 100vh;
  /* height: 700px; */
  /* min-height: 900px; */
  /* background: transparent; */
  background-attachment: fixed;
  background-color: #9fb5b6;
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  z-index: 2;
}
/* .parallax-mirror,
#vurtUnderlay {
  height: auto !important;
  width: 100% !important;
  padding: 45% 0 0;
}
.parallax-mirror img {
  width: 100% !important;
  height: 100% !important;
} */

h1 {
  color: rgb(0, 145, 179);
  font-family: "Times New Roman", Times, serif;
  font-weight: bolder;
  padding-left: 10px;
  margin-bottom: 30px;
}
html {
  scroll-behavior: smooth;
}
body {
  /* background-image: url("images/background2-copy.jpg"); */
  /* background-color: rgb(245, 240, 235); */
  font-family: "Montserrat", sans-serif;
}
.contact {
  margin-top: 100px;
}
section {
  background-color: white;
}
p {
  width: 100%;
  margin-left: 15px;
}
/* .linkedin {
  width: 20px;
} */
.github {
  width: 5%;
}
img {
  width: 90%;
  margin: 30px;
  transition: width 2s, height 2s, transform 0.25s;
}
.img-responsive:hover {
  transform: scale(1.05);
}
.linkedin-img {
  width: 30px !important;
}
.github {
  width: 30px !important;
}
#me {
  float: right !important;
  margin-right: 60px !important;
  width: 300px !important;
}
/* Here are the classes */
.navbar-light .navbar-brand {
  color: rgb(0, 145, 179);
  margin-left: 30px;
  font-size: 300%;
}
.navbar-brand {
  color: rgb(4, 139, 192);
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: bolder;
}
.navbar-nav {
  text-align: auto;
  flex-direction: row !important;
}
.navbar-light .navbar-nav .nav-link {
  color: white;
  font-weight: 800;
  padding-left: 10px !important;
}

.navbar-light .navbar-nav .nav-link:hover {
  border-bottom: solid white 4px;
  padding-bottom: 1px;
  color: white;
}

.container {
  padding: 0px;
  width: 100%;
  position: relative;
}

.about {
  margin-top: 100px;
}
/* #page-container,
#content-wrap {
  padding: 0;
  background-color: brown;
} */
/* 
#content-wrap {
  padding-bottom: 100px;
} */

#port1 {
  background-image: url("./images/burder1.jpg");
  background-size: cover;
  margin: 20px;
}

#port1:hover {
  background-image: url("./images/burgerReal.png");
  transform: scale(1.05);
  transition: 0.3s;
}

#port2 {
  background-image: url("./images/moviee1.jpg");
  background-size: cover;
  margin: 20px;
}

#port2:hover {
  background-image: url("./images/movie-chews\ copy.jpg");
  transform: scale(1.05);
  transition: 0.3s;
}
.card {
  border-radius: 0px;
}
#port3 {
  background-image: url("./images/weather1.jpg");
  background-size: cover;
  margin: 20px;
}

#port3:hover {
  background-image: url("./images/weather.jpg");
  transform: scale(1.05);
  transition: 0.3s;
}
#port4 {
  background-image: url("./images/password1.jpg");
  background-size: cover;
  margin: 20px;
}

#port4:hover {
  background-image: url("./images/password\ copy.jpg");
  transform: scale(1.05);
  transition: 0.3s;
}
#port5 {
  background-image: url("./images/peach1.jpg");
  background-size: cover;
  margin: 20px;
}

#port5:hover {
  background-image: url("./images/peach2.jpg");
  transform: scale(1.05);
  transition: 0.3s;
}

#port6 {
  background-image: url("./images/notes1.jpg");
  background-size: cover;
  margin: 20px;
}

#port6:hover {
  background-image: url("./images/notes2.jpg");
  transform: scale(1.05);
  transition: 0.3s;
}

#target1 {
  margin: auto;
}
#target2 {
  margin-top: 100px;
}

#footer {
  /* background-color: !important; */
  width: 100%;
  /* margin-left: 10% !important; */
  margin-top: 50px;
  text-align: center;
  height: 55px;
  position: absolute;
  bottom: 1;
  border-top: solid 3px;
  border-color: rgb(142, 167, 168);
  display: block;
}
#footer p {
  padding-top: 10px;
}

.portfolio {
  margin-top: 105px;
}

button {
  background-color: rgb(96, 117, 121) !important;
  border: none !important;
  color: white !important;
}

button:hover {
  background-color: rgb(142, 167, 168) !important;
}

@media only screen and (max-width: 576px) {
  .container {
    width: 80%;
    margin: 50px auto;
  }
  .navbar-light .navbar-nav .nav-link {
    text-align: center !important;
  }
}
@media only screen and (max-width: 800px) {
  .parallax {
    background-image: url("./images/background-mobile.jpg");
    background-position: center;
    background-size: contain !important;
    background-attachment: scroll !important;
    /* background-size: contain; */
    /* height: 300px; */
  }
}
