/* Here are the elements */
html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0;
  background-color: white;
  /* scroll-behavior: smooth; */
  font-family: "Montserrat", sans-serif;
}

.navbar {
  position: fixed;
  background-color: rgba(142, 167, 168) !important;
  text-align: center;
  left: 0;
  width: 100%;
  z-index: 100;
}

.bottom-nav {
  position: absolute;
  bottom: 0;
}

.top-nav {
  position: fixed;
  top: 0;
}
.navbar-light .navbar-brand {
  color: rgb(0, 145, 179);
  margin-left: 30px;
  font-size: 300%;
}
.navbar-brand {
  color: rgb(4, 139, 192);
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: bolder;
}
.navbar-nav {
  text-align: auto;
  flex-direction: row !important;
}
.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show > .nav-link {
  border-radius: 10px;
  color: white !important;
  border: solid white 4px !important;
  transition-duration: 1s !important;
}

.navbar-light .navbar-nav .nav-link {
  color: white;
  border: transparent solid 4px;
  font-weight: 800;
  padding: 10px !important;
  margin-right: 5px;
}
.nav-media-link {
  color: white;
  border: transparent solid 4px;
  font-weight: 800;
  padding: 10px !important;
  /* margin-right: 5px; */
}
.nav-media-link:hover {
  border-bottom: solid white 4px;
  padding-bottom: 1px;
  transition-duration: 0.2s;
  color: white;
}
.navbar-light .navbar-nav .nav-link:visited {
  color: white !important;
  transition-delay: 0s;
}
.navbar-light .navbar-nav .nav-link:hover {
  border-bottom: solid white 4px;
  padding-bottom: 1px;
  transition-duration: 0.2s;
  color: white;
}

figure {
  margin: 0;
  position: relative;
}

header {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
}
/* header:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 25;
} */

#me-graphic {
  width: 600px;
  height: auto;
  margin: 0;
  margin-top: -36px;
  padding: 0;
  margin-left: -10px !important;
  /* opacity: 0.4; */
}
#header-font {
  font-size: 6vw;
  font-weight: 600;
  padding-bottom: 20px;
}
.linea {
  margin-bottom: 40px;
}
#see-my-work {
  margin-top: 140px !important;
  border-radius: 50px;
  color: white;
  padding: 17px;
  background-color: rgb(96, 117, 121) !important;
  z-index: 99999 !important;
  width: 200px;
  height: 70px;
  font-size: 25px !important;
}
#see-my-work:hover {
  background: rgb(109, 153, 140) !important;
  transition-duration: 0.3s;
  text-decoration: none;
}
.i-am-lois {
  font-size: 4vw;
  /* animation-duration: 300ms;
  animation-timing-function: ease-in-out; */
  position: absolute;
  text-align: right !important;
  top: calc(50% - 15rem);
  width: 90%;
  line-height: 4rem;
  /* z-index: 19; */
  margin-right: 10px !important;
}

h1 {
  color: black;
  /* font-family: "Times New Roman", Times, serif; */
  font-weight: bolder;
  padding-left: 10px;
  font-weight: normal;
  text-transform: capitalize;
  margin-bottom: 30px;
}

/* .contact {
  margin-top: 100px;
} */
section {
  background-color: white;
}

.bio-container {
  width: 70%;
  float: left;
}
.bio {
  font-size: 20px;
  line-height: 60px;
  margin-left: 10px;
  padding-right: 50px;
  text-align: justify;
}

.languages {
  float: right;
  border: 5px black solid;
  padding: 20px;
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.languages p {
  text-align: center;
  font-size: 20px;
  font-weight: 700;
}
/* .language-div-content {
  margin-top: 10%;
  margin-bottom: 10%;
} */
.language-hr {
  width: 40%;
}
.languages ul {
  text-align: center;
  margin: 0px;
  padding: 0px;
}
.languages li {
  list-style-type: none;
  text-align: center;
  line-height: 30px;
}

.linkedin-img {
  width: 30px !important;
}
.github {
  width: 60px !important;
  padding: 0px !important;
}
.github img {
  width: 30px !important;
  height: auto;
  margin-top: 7px;
}
/* #me {
  float: right !important;
  margin-right: 0;
  width: 300px !important;
} */
/* Here are the classes */

.container {
  padding: 0px;
  width: 100%;
  position: relative;
}

.about {
  margin-top: 0px;
  padding-top: 20px;
}

.card-body {
  padding: 0;
}
.project-description {
  margin-top: 18px;
  padding: 10px;
}
.portfolio-header {
  margin-top: 70px;
}
.portfolioDiv {
  height: 35rem;
  width: 319px !important;
  margin: auto !important;

  margin-top: 30px !important;
  transition-duration: 0.8s;
}
.tools {
  font-size: 13.5px;
  font-style: italic;
}
.containerPortfolio1 {
  position: relative;
  width: 50%;
  padding: 0px;
  /* margin: 20px; */
}
#port1 {
  /* object-fit: cover; */
  opacity: 1;
  display: block;
  position: absolute;
  z-index: 5;
  /* width: 100%;
  height: auto; */
  transition: 0.2s ease;
  backface-visibility: hidden;
  width: 319px !important;
  height: 254px !important;
  object-fit: cover !important;
}
.card-body > img {
  width: 100%;
  margin: 0px;
  transition: width 2s, height 2s, transform 0.2s;
}

.port1a {
  opacity: 1;
  position: relative;
  width: 319px !important;
  height: 254px !important;
  object-fit: cover !important;
  z-index: 4;
  text-align: center;
  transition: 0.2s ease;
}
.containerPortfolio1:hover #port1 {
  opacity: 0;
}

.portfolioDiv:hover .project-description {
  opacity: 1 !important;
  transition: 0.7s;
}
.containerPortfolio1:hover .port1a {
  /* opacity: 1; */
  /* transform: scale(1.05); */
  top: 0;
  left: 0;
}

#port2 {
  background-image: url("./images/moviee1.jpg");
  background-size: cover;
  margin: 20px;
}

#port2:hover {
  background-image: url("./images/movie-chews\ copy.jpg");
  /* transform: scale(1.05); */
  transition: 0.2s;
}
.card {
  border-radius: 0px;
  /* margin: 20px; */
}
#port3 {
  background-image: url("./images/weather1.jpg");
  background-size: cover;
  margin: 20px;
}

#port3:hover {
  background-image: url("./images/weather.jpg");
  /* transform: scale(1.05); */
  transition: 0.2s;
}
#port4 {
  background-image: url("./images/password1.jpg");
  background-size: cover;
  margin: 20px;
}

#port4:hover {
  background-image: url("./images/password\ copy.jpg");
  /* transform: scale(1.05); */
  transition: 0.3s;
}
#port5 {
  background-image: url("./images/peach1.jpg");
  background-size: cover;
  margin: 20px;
}

#port5:hover {
  background-image: url("./images/peach2.jpg");
  /* transform: scale(1.05); */
  transition: 0.3s;
}

#port6 {
  background-image: url("./images/notes1.jpg");
  background-size: cover;
  margin: 20px;
}

#port6:hover {
  background-image: url("./images/notes2.jpg");
  /* transform: scale(1.05); */
  transition: 0.3s;
}

#target1 {
  margin: auto;
}
#target2 {
  margin-top: 80px;
}

#footer {
  /* background-color: !important; */
  width: 100%;
  /* margin-left: 10% !important; */
  margin-top: 50px;
  text-align: center;
  height: 55px;
  position: absolute;
  bottom: 1;
  border-top: solid 3px;
  border-color: rgb(142, 167, 168);
  display: block;
}
#footer p {
  padding-top: 10px;
}

.portfolio {
  margin-top: 105px;
}

.form-control {
  border: transparent;
  /* width: 70%; */
  border-radius: 0em;
  border-bottom: 1px solid black !important;
  border-left: 1px solid black !important;
  margin: auto;
}

button {
  background-color: rgb(96, 117, 121) !important;
  border: none !important;
  color: white !important;
}

button:hover {
  background-color: rgb(142, 167, 168) !important;
}
.media-div {
  width: 100%;
  height: 50px;
  margin-top: 70px;
  align-items: center;
}

.media-container {
  width: 140px;
  margin: auto;
}
.media-circle {
  background-color: rgba(142, 167, 168) !important;
  border-radius: 100px;
  width: 50px;
  height: 50px;
  margin: 10px;
  justify-content: center;
  align-items: center;
}
.media-circle:hover {
  transform: scale(1.1);
  transition-duration: 0.3s;
}
.media-circle .linkedin-img {
  margin-top: 12px;
  margin-left: 12px;
  /* margin: auto; */
}
.media-circle .github {
  margin-top: 10px;
  margin-left: 5px;
}

@media only screen and (max-width: 990px) {
  #me-graphic {
    width: 500px;
    height: auto;
    margin-top: 50px;
    transition-duration: 3s;
  }
  .container {
    width: 80%;
    margin: 50px auto;
  }
  .languages {
    width: 90%;
    margin: auto;
  }
  .bio-container {
    width: 90%;
    margin: auto !important;
  }
  .i-am-lois {
    margin-top: 90px;
    font-size: 35px !important;
    line-height: 40px;
  }
}
@media only screen and (max-width: 600px) {
  .navbar-light .navbar-nav .nav-link {
    text-align: center !important;
  }

  .bio {
    padding: 0px;
  }
  /* .languages {
    width: 90%;
    margin: auto;
  } */
}
/* @media only screen and (max-width: 800px) {
  .parallax {
    background-image: url("./images/background-mobile.jpg");
    background-position: center;
    background-size: contain !important;
    background-attachment: scroll !important;

  }
} */

@media screen and (max-width: 660px) {
  #header-font {
    font-size: 40px;
  }
  /* .project-description {
    margin-top: 18px;
  } */
  #me-graphic {
    margin-left: -100px !important;
    transition-duration: 3s;
    /* width: 300px;
    height: auto;
    margin: 0;
    margin-top: -36px;
    padding: 0;
    margin-left: -10px !important; */
    opacity: 0.25;
  }
  #see-my-work {
    height: 50px;
  }
  .i-am-lois {
    text-align: center !important;
    margin: auto;
    margin-top: 100px;
    width: 100%;
    font-size: 25px !important;
    line-height: 30px;
  }
}

@media screen and (max-width: 440px) {
  .navbar-light .navbar-nav .nav-link {
    border: transparent solid 4px;
    font-weight: 800;
    height: 40px;
    font-size: 15px;
    padding: 5px !important;
    margin-top: 8px;
    margin-right: 0px !important;
  }
  .linkedin-img {
    margin-right: 0px !important;
    width: 30px !important;
  }
  .github {
    margin-right: 0px !important;
    width: 50px !important;
    padding: 0px !important;
  }
  .github img {
    width: 30px !important;
    height: auto;
    margin-top: 7px;
  }
}
